<ion-header>
  <ion-toolbar>
    <ion-button (click)="returnHome()">
      <ion-icon name="home"></ion-icon>
      HOME
    </ion-button>
    <ion-title class="title">Airport's details </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-img class="airPic" *ngIf="myAirport.picture"
      [src]="myAirport.picture.webViewPath">
      </ion-img> <br> 
      <span><strong>{{myAirport.code}}, &nbsp;{{myAirport.name}}</strong></span>
      <ion-card-subtitle> <h3>{{myAirport.city}} - {{myAirport.country}}</h3></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <h2>{{myAirport.description}}</h2>   
    </ion-card-content>

    <ion-item *ngIf="myAirport.location">
      <ion-label><strong>Latitude:</strong> {{myAirport.location.lati}} &nbsp; <strong>Longitude: </strong> {{myAirport.location.longi}}</ion-label>
    </ion-item>

    <ion-button *ngIf="myAirport.location" (click)="showMap()">
      Check on map
    </ion-button>
  </ion-card>

</ion-content>
